<button class="w-40 h-12 border-3 border-ridge border-blue-500 outline-none bg-transparent text-white transition duration-1000 rounded-md text-xl font-bold cursor-pointer">Demo</button>

<style>
button:hover::before, button:hover::after {
  transform: scale(0)
}

button:hover {
  box-shadow: inset 0px 0px 25px #0075fc;
}
</style>