---
import { getI18N } from "../../i18n"
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<div class="flex justify-center gap-6 p-4 bg-gray-900 rounded-xl shadow-md">
  <a 
    href="https://www.linkedin.com/in/ivan-daniel-manrique-roa-978a29187" 
    aria-label={i18n.SMB_ARIA_LABEL1} 
    target="_blank" 
    class="text-white hover:text-cyan-400 transition-colors duration-300"
  >
    <i class="fab fa-linkedin fa-2x"></i>
  </a>

  <a 
    href="https://github.com/idmr023" 
    aria-label={i18n.SMB_ARIA_LABEL2} 
    target="_blank" 
    class="text-white hover:text-cyan-400 transition-colors duration-300"
  >
    <i class="fab fa-github fa-2x"></i>
  </a>

  <a 
    href="https://drive.google.com/file/d/1Mq81JtWl-iGLedp_v-1fTYPfWUHaA8o6/view?usp=sharing" 
    target="_blank" 
    class="text-white hover:text-cyan-400 transition-colors duration-300"
  >
    <i class="fas fa-file-alt fa-2x"></i>
  </a>
</div>