# dependencies
node_modules/

# next.js
.next/
out/

# build output
dist/
.vercel/

# generated types
.astro/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.production

# os
.DS_Store

# editor
.vscode
